.hovered {
  cursor: pointer;
  background-color: #eee;
}

.eliminar {
  float: right;
}



.items {
  color: #a0a0a0;
  font-size: 15px;
}

.md.col-5 {
  font-size: 25px;
}
.list{
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.titulo{
    align-items: center;
}
